<div class="divFirst">
    <div class="secondF">
        <div class="loginBorder">
            <div class="divFor">
                <p class="fontB">Chuncks Login</p>
                <span class="sayLog">To keep connected with us please login with your personal information by email 
                    adddress and password
                </span>
            </div>


            <div class="divForForms">
                <div class="username">
                    <p style="background:rgb(255, 255, 255);" class="p">Username:</p>
                    <input type="text" class="text name" />
                </div>
                <div class="username">
                    <p style="background:rgb(255, 255, 255);" class="p">Password:</p>
                    <input type="password" class="text pass" />
                </div>
                <p class="forgot">Forgot password?</p>
            </div>

            <div class="distB">
                <button class="bttnD" (click)="login()">Login</button>
            </div>
        </div>
    </div>
</div>