.hPost{
    margin-bottom:10px;
}

.HPostS{
    background:rgb(189, 224, 131);
    color:rgb(4, 9, 87);
    padding-top:5px;
    padding-left:15px;
    padding-bottom:5px;
    font-size:18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    z-index: 5;
    border-radius: 5px;
    position: relative;
}

.diVpOs{
    border-radius:5px;
    padding-left: 15px;
    padding-right:15px;
    padding-bottom:15px;
    background:rgba(255, 198, 231, 0.966);
    margin-top:10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
}

.loadingA{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    font-size: 17px;
}